<h2 class="supplier-info__name"><%= profile.name %></h2>
<span class="supplier-info__metadata email">
  <%= inline_svg("email.svg", class: "svg-icon") %>
  <%= profile.email %>
</span>
<span class="supplier-info__metadata address">
  <%= inline_svg("location-pin.svg", class: "svg-icon") %>
  <%= profile.address %>
</span>
<span class="supplier-info__metadata zipcode">
  <%= inline_svg("map.svg", class: "svg-icon") %>
  <%= profile.zipcode %>
</span>
<span class="supplier-info__metadata notes">
  <%= inline_svg("info.svg", class: "svg-icon") %>
  These are some notes. They shouldn't be too long, so maybe we can set a character limit of 100 characters or so.
</span>
