<h2 class="supplier-name"><%= profile.name %></h2>
<span class="supplier-info__metadata email">
  <%= inline_svg("email.svg", class: "svg-icon") %>
  <%= profile.email %>
</span>
<span class="supplier-info__metadata address">
  <%= inline_svg("location-pin.svg", class: "svg-icon") %>
  <%= profile.address %>
</span>
<span class="supplier-info__metadata zipcode">
  <%= inline_svg("map.svg", class: "svg-icon") %>
  <%= profile.zipcode %>
</span>
