<%= render "application/welcome_modal" %>

<div class="content-wrapper-narrow content-container">
  <header class="profile-header">
    <h2 class="profile-header__heading"><%= @profile.name %></h2>
    <%= link_to edit_profile_path, class: "profile-header__edit" do %>
      <%= t(".edit") %>
    <% end %>
  </header>

  <section class="profile-section">
    <h3 class="profile-section__heading">Pickup Info</h3>
    <dl>
      <div class="dl-group">
        <dt>Scheduled Pickup Time</dt>
        <dd>We pick up in your area on Thursdays from 9 until noon.</dd>
      </div>
      <div class="dl-group">
        <dt>Donation Status for <span class="next-pickup-date">03/31/15</span></dt>
        <dd class="donation-status pending">Pending...</dd>
      </div>
      <div class="dl-group">
        <dt>Pickup Notes (e.g. On the table on the front porch)</dt>
        <dd><%= @profile.notes %></dd>
      </div>
    </dl>
  </section>

  <section class="profile-section">
    <h3 class="profile-section__heading">Contact</h3>
    <dl>
      <dt>Email</dt>
      <dd><%= @profile.email %></dd>
    </dl>
  </section>

  <section class="profile-section">
    <h3 class="profile-section__heading">Location</h3>
    <dl>
      <div class="dl-group">
        <dt>Street Address for Pickup</dt>
        <dd><%= @profile.address %></dd>
      </div>
      <div class="dl-group">
        <dt>Zip</dt>
        <dd><%= @profile.zipcode %></dd>
      </div>
    </dl>
  </section>

  <section class="profile-section">
    <h3 class="profile-section__heading">Preferences</h3>
    <form action="">
      <input type="checkbox">
      <label for="" class="preferences-label">I would like to receive news and updates about Fresh Food Connect</label>
    </form>
  </section>

  <section class="profile-section">
    <h3 class="profile-section__heading">Additional Info</h3>
    <dl>
      <div class="dl-group">
        <dt>Pickup Location Type</dt>
        <dd>Residence</dd>
      </div>
      <div class="dl-group">
        <dt>Where are you growing the food you are donating?</dt>
        <dd>At the pickup address</dd>
      </div>
    </dl>
  </section>
</div>
