<%= render "application/welcome_modal" %>

<div class="content-wrapper-narrow content-container">
  <header class="profile-header">
    <h2 class="profile-header__heading"><%= @profile.name %></h2>
    <%= link_to edit_profile_path, class: "profile-header__edit" do %>
      <%= t(".edit") %>
    <% end %>
  </header>

  <%= render("donations/current", donation: @profile.current_donation) %>

  <section class="profile-section">
    <h3 class="profile-section__heading">Contact</h3>
    <dl>
      <dt>Email</dt>
      <dd><%= @profile.email %></dd>
    </dl>
  </section>

  <section class="profile-section">
    <h3 class="profile-section__heading">Location</h3>
    <dl>
      <div class="dl-group">
        <dt><%= t(".location.address") %></dt>
        <dd><%= @profile.address %></dd>
      </div>
      <div class="dl-group">
        <dt><%= t(".location.zip") %></dt>
        <dd><%= @profile.zipcode %></dd>
      </div>
      <div class="dl-group">
        <dt><%= t(".location.notes") %></dt>
        <dd><%= @profile.notes %></dd>
      </div>
    </dl>
  </section>

  <section class="profile-section">
    <h3 class="profile-section__heading">Preferences</h3>
    <form action="">
      <input type="checkbox">
      <label for="" class="preferences-label">I would like to receive news and updates about Fresh Food Connect</label>
    </form>
  </section>

  <section class="profile-section">
    <h3 class="profile-section__heading">Additional Info</h3>
    <dl>
      <div class="dl-group">
        <dt>Pickup Location Type</dt>
        <dd>Residence</dd>
      </div>
      <div class="dl-group">
        <dt>Where are you growing the food you are donating?</dt>
        <dd>At the pickup address</dd>
      </div>
    </dl>
  </section>
</div>
