<%= render "application/welcome_modal" %>

<div class="content-wrapper-large">
  <aside class="supplier-info">
    <%= render(@profile) %>

    <%= link_to edit_profile_path, class: "edit" do %>
      <%= t(".edit") %>
    <% end %>
  </aside>

  <div class="main-profile-content">
    <div class="form-container no-footer">
      <header class="form-container__header">
        <h3><%= t(".pickup") %></h3>
      </header>
      <div class="form-container__body">
        <%= render(@profile.current_donation) %>
      </div>
    </div>

    <div class="form-container">
      <%= render("locations/form", location: @profile.location) %>
    </div>
  </div>
</div>
