<div class="content-wrapper-narrow content-container">
  <header>
    <h2><%= t(".header", name: @cyclist_invitation.name) %></h2>
  </header>

  <p>
    <%= t(
      ".instructions",
      email: @cyclist_invitation.email,
      name: @cyclist_invitation.name,
    ) %>
  </p>

  <p>
    <%= t(".fallback") %>

    <%= link_to new_password_url do %>
      <%= new_password_url %>
    <% end %>
  <p>
</div>
