<h2 class="section-label"><%= t(".header") %></h2>

<table>
  <thead>
    <tr>
      <th><%= t(".columns.name") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% admins.each do |admin| %>
      <%= content_tag_for(:tr, admin) do %>
        <td><%= admin.name %></td>
        <td class="table-actions">
          <%= render("users/delete", user: admin) %>
        </td>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td><a href="" class="table-link">+ Add Admin</a></td>
      <td></td>
    </tr>
  </tfoot>
</table>
