<h2 class="section-label"><%= t(".header") %></h2>

<table>
  <thead>
    <tr>
      <th><%= t(".columns.name") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render_user_rows(cyclists) do |cyclist| %>
      <td><%= cyclist.name %></td>
      <td class="table-actions">
        <%= link_to cyclist_invitation_path(cyclist), class: "table-link" do %>
          <%= t("users.cyclists.register") %>
        <% end %>
        <%= render("users/delete", user: cyclist) %>
      </td>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <%= link_to new_cyclist_invitation_path, class: "table-link" do %>
          <%= t(".new") %>
        <% end %>
      </td>
      <td></td>
    </tr>
  </tfoot>
</table>
