<h2 class="section-label"><%= t(".header") %></h2>

<table>
  <thead>
    <tr>
      <th><%= t(".columns.name") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% cyclists.each do |cyclist| %>
      <tr>
        <td><%= cyclist.name %></td>
        <td class="table-actions"><a href="" class="table-link table-delete">Delete</a></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <%= link_to new_cyclist_invitation_path, class: "table-link" do %>
          <%= t(".new") %>
        <% end %>
      </td>
    </tr>
  </tfoot>
</table>
