<h2 class="section-label"><%= t(".header") %></h2>
<table>
  <thead>
    <tr>
      <th><%= t(".columns.name") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render_user_rows(donors) do |donor| %>
      <%= render("users/promote", user: donor) %>

      <a href="" class="table-link">Profile</a>
      <%= link_to(donor_path(donor), class: "table-link")do %>
        <%= t("users.donors.history") %>
      <% end %>
      <a href="" class="table-link table-delete">Delete</a>
    <% end %>
  </tbody>
</table>
