<h2 class="section-label"><%= t(".header") %></h2>
<table>
  <thead>
    <tr>
      <th><%= t(".columns.name") %></th>
      <th><%= t(".columns.address") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render_user_rows(donors) do |donor| %>
      <td><%= donor.name %> (<%= donor.email %>)</td>
      <td><%= donor.address %> <%= donor.zipcode %></td>
      <td class="table-actions">
        <% if signed_in? && current_user.admin? && !donor.admin? %>
          <%= render("users/promote", user: donor) %>
        <% end %>

        <%= link_to(donor_path(donor), class: "table-link")do %>
          <%= t("users.donors.profile_and_history") %>
        <% end %>
      </td>
    <% end %>
  </tbody>
</table>
