<%= simple_form_for(
  registration, url: zone_registrations_path(registration.zipcode),
) do |f| %>
  <div class="form-container__body">
    <p><%= t(".prompt") %></p>
    <%= f.input :name, required: "true" %>
    <%= f.input :address, label: "Address for pickup", required: "true" %>
    <%= f.input :email, required: "true" %>
    <%= f.input :password, required: "true" %>

    <%= render("locations/form_fields", f: f) %>

    <%= f.input :terms_and_conditions_accepted, as: :boolean %>
    <div class="terms-and-safety-links">
      <a href="/pages/food_safety_policy" target="_blank"><%= t(".food_safety_policy") %></a>
      <a href="/pages/terms_and_conditions" target="_blank"><%= t(".terms_and_conditions_accepted") %></a>
    </div>
    <%= f.input :organic_growth_asserted, as: :boolean %>
  </div>

  <footer class="form-container__footer">
    <%= f.submit %>
  </footer>
<% end %>
