<%= simple_form_for registration do |f| %>
  <div class="form-container__body">
    <p><%= t(".prompt") %></p>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :zipcode %>
    <%= f.input :email %>
    <%= f.input :password %>
  </div>
  <footer class="form-container__footer">
    <%= f.submit %>
  </footer>
<% end %>
