<section class="profile-section">
  <h3 class="profile-section__heading"><%= t(".header") %></h3>

  <% if donation.present? %>
    <dl>
      <div class="dl-group">
        <dt><%= t(".pickup_time") %></dt>
        <dd><%= format_pickup_time(donation.scheduled_pickup) %></dd>
      </div>
      <div class="dl-group">
        <dt><%= t(
          ".status_html",
          date: l(donation.pickup_date, format: :default),
        ) %></dt>
        <dd class="donation-status pending">
          <%= render("donations/status", donation: donation) %>

          <%= link_to edit_donation_url(donation) do %>
            <%= t(".edit") %>
          <% end %>
        </dd>
      </div>
      <div class="dl-group">
        <dt><%= t(".size") %></dt>
        <dd><%= t("donations.sizes.#{donation.size}") %></dd>
      </div>
      <div class="dl-group">
        <dt><%= t(".notes") %></dt>
        <dd><%= donation.notes %></dd>
      </div>
    </dl>
  <% else %>
    <p><%= t(".none") %>
  <% end %>
</section>
