<section class="profile-section">
  <h3 class="profile-section__heading"><%= t(".header") %></h3>

  <% if donation.present? %>
    <dl>
      <div class="dl-group">
        <dt><%= t(".pickup_time") %></dt>
        <dd><%= format_pickup_time(donation.scheduled_pickup) %></dd>
      </div>
      <div class="dl-group">
        <dt><%= t(
          ".status_html",
          date: l(donation.pickup_date, format: :default),
        ) %></dt>
        <dd class="donation-status pending">
          <% if donation.confirmed? %>
            <%= t(".status.confirmed") %>
          <% elsif donation.declined? %>
            <%= t(".status.declined") %>
          <% else %>
            <%= button_to(donation_confirmation_path(donation), method: :post) do %>
              <%= t(".confirm") %>
            <% end %>
            <%= button_to(donation_confirmation_path(donation), method: :delete) do %>
              <%= t(".decline") %>
            <% end %>
          <% end %>
        </dd>
      </div>
      <div class="dl-group">
        <dt><%= t(".notes") %></dt>
        <dd><%= donation.notes %></dd>
      </div>
    </dl>
  <% else %>
    <p><%= t(".none") %>
  <% end %>
</section>
