<div class="page-wrapper">
  <div class="content-wrapper-narrow form-container no-footer">
    <header class="form-container__header">
      <h2><%= t(".header") %></h2>
    </header>

    <div class="form-container__body">
      <div class="dl-group">
        <%= render(@donation.scheduled_pickup) %>
      </div>

      <div class="dl-group">
        <%= render_donation_status(@donation) do %>
          <div class="donation-actions">
            <% unless @donation.pending? %>
              <h3 class="section-label"><%= t("donations.edit.prompt") %></h3>
            <% end %>

            <%= render("donations/actions", donation: @donation) %>
          </div>
        <% end %>
      </div>

      <% if @donation.confirmed? %>
        <%= render("donations/form", donation: @donation) %>
      <% end %>
    </div>
  </div>
</div>
