<%= simple_form_for subscription do |f| %>
  <div class="form-container__body">
    <p><%= t(".prompt") %></p>
    <%= f.input :email %>
    <%= f.input :zipcode %>
  </div>
  <footer class="form-container__footer">
    <%= f.submit %>

    <%= link_to root_path, class: "opt-out-link" do %>
      <%= t(".decline") %>
    <% end %>
  </footer>
<% end %>
