<%= render "application/admin_header" %>

<div class="content-wrapper-narrow">
  <section class="zipcode-group">
    <h2><%= t(".active") %></h2>
    <% @delivery_zones.each do |delivery_zone| %>
      <%= link_to delivery_zone, class: "zipcode-tile" do %>
        <h3 class="zipcode-tile__zipcode"><%= delivery_zone.zipcode %></h2>
        <span class="zipcode-tile__supplier-count">
          <%= t(".suppliers", count: delivery_zone.locations.count) %>
        </span>
      <% end %>
    <% end %>
  </section>

  <section class="zipcode-group">
    <h2><%= t(".inactive") %></h2>
  </section>

  <%= link_to new_delivery_zone_path do %>
    <%= t(".new") %>
  <% end %>
</div>
