<%= render "application/admin_header" %>

<div class="content-wrapper-narrow content-container">
  <header class="zipcode-header">
    <h2><%= @delivery_zone.zipcode %></h2>
    <span class="zipcode-activation-status">Active</span>
  </header>
  <section class="zipcode-content-section">
    <h2 class="section-label">Scheduled Pickup Time</h2>
    <span>Thusdays from 9:00am to 12:00am</span>

    <%= link_to(
      edit_scheduled_pickup(@delivery_zone, @delivery_zone.next_scheduled_pickup),
      class: "edit-link",
      ) do %>
      <%= t(".pickup-edit") %>
    <% end %>
    <a href="" class="edit-link">Edit</a>
  </section>
  <section class="zipcode-content-section">
    <h2 class="section-label">Suppliers</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Donation Status for 10/20/15</th>
        </tr>
      </thead>
      <tbody>
        <% @delivery_zone.users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td>Donating</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="supplier-map">
      <h2 class="section-label">Map</h2>
      <div class="map-placeholder"></div>
    </div>
  </section>
</div>
