<header class="application-header">
  <div class="nav-wrapper">
    <%= link_to root_path, class: "logo" do %>
      <h1>
        <%= image_tag "logo.png", alt: "Fresh Food Connect", class: "logo-image" %>
      </h1>
    <% end %>

    <nav class="main-nav">
      <ul>
        <% if signed_in? %>
          <% unless current_user.cyclist? %>
            <li>
              <%= link_to profile_path do %>
                <%= t(".profile") %>
              <% end %>
            </li>
          <% end %>
          <% if current_user.admin? %>
            <li>
              <%= link_to regions_path do %>
                <%= t(".regions") %>
              <% end %>
            </li>
          <% end %>
          <% if current_user.regional_admin? %>
            <li>
              <%= link_to zones_path do %>
                <%= t(".zipcodes") %>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <%= t(".users") %>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to sign_out_path, method: :delete do %>
              <%= t(".sign_out") %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to sign_in_path do %>
              <%= t(".sign_in") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
