<header class="main-header">
  <div class="nav-wrapper">
    <a href="" class="logo">
      <h1>
        <%= image_tag "logo.png", alt: "Fresh Food Connect", class: "logo-image" %>
      </h1>
    </a>

    <nav class="main-nav">
      <ul>
        <li>
          <%= link_to profile_path do %>
            <%= t(".sign_in") %>
          <% end %>
        </li>
        <li>
          <%= link_to sign_up_path do %>
            <%= t(".sign_up") %>
          <% end %>
        </li>
        <li>
          <%= link_to sign_out_path, method: :delete do %>
            <%= t(".sign_out") %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
