<header class="main-header">
  <div class="nav-wrapper">
    <a href="" class="logo">
      <h1>
        <%= image_tag "logo.png", alt: "Fresh Food Connect", class: "logo-image" %>
      </h1>
    </a>

    <nav class="main-nav">
      <ul>
        <% if signed_in? %>
          <li>
            <%= link_to sign_out_path, method: :delete do %>
              <%= t(".sign_out") %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to sign_in_path do %>
              <%= t(".sign_in") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
