<div class="modal">
  <div id="welcome"></div>

  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-content">
        <h3><%= t(".header") %></h3>
        <ol class="next-steps">
          <% t(".steps").each do |step| %>
            <li>
              <h4><%= step[:title] %></h4>
              <% if step[:content].present? %>
                <p><%= step[:content] %></p>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
      <div class="modal-actions">
        <%= link_to "#", class: "btn modal-confirm" do %>
          <%= t(".close") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
