<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <script src="https://use.typekit.net/yxi6xqn.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
  <%= yield(:google_map) %>
</head>
<body class="<%= body_class %>">
  <%= render "header" -%>
  <%= render "flashes" -%>
  <div class="page-wrapper">
    <%= yield %>
  </div>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
